    body {
      font-family: 'Sono', sans-serif;
    }

    /* Hint: What can you do with a media query and flexbox? */
    @media (max-width: 1250px) {
      
    }

    .pricing-plan{
        background-color: #f2f2f2;
    }
    .pricing-container{
        /* background-color: #f2f2f2; */
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        align-items: center;
    }

    .pricing-container > *{
        flex-basis: 300px;
    }


    ul{
        list-style-type: none;
    }

    .plan-button{
        margin: 0 auto;
        background-color: #ff6600;
        border: 0;
        color: white;
        padding: 9px 7px;
        border-radius: 15%;
        margin-bottom: 10px;
    }

    .pricing-plan{
        padding-right: 0%;
        text-align: center;
    }

    .plan-price{
        font-size: 2em;
        font-weight: bold;
    }

    .plan-title{
        font-weight: bold;
        font-size: 1.1em;
    }

    .plan-title{
        margin-top: 10px;
    }

    .plan-features > *{
        margin-top: 10px;
    }
